doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 this should be moved slightly to the right or maybe it should be centered.
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it! I know, i'm already on it
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.