div
	.container(class="table-responsive")
		h1 {{title}}
		h2 English {{table.leagueCaption}}

		table(class="table table-hover table-bordered") 
			tr 
				th Rank
				th Team
				th Points
				th Played
				th Won
				th Drawn
				th Lost
				th GF
				th GA
				th GD
			tr(*ngFor="let stand of table.standing", (click)="gotoDetail(stand)")
				td {{stand.position}}
				td 
					img(src="{{stand.crestURI}}")
				td {{stand.points}}
				td {{stand.playedGames}}
				td {{stand.wins}}
				td {{stand.draws}}
				td {{stand.losses}}
				td {{stand.goals}}
				td {{stand.goalsAgainst}}
				td {{stand.goalDifference}}

		//my-team([team]="selectedTeam")

